.header
  .header__logo
    = link_to root_path do
      =image_tag ("Table Tennis Spot-logo.png"), size: "300x80"

= form_with model: @user,url: user_registration_path, local: true do |f|

  .user-info-wrapper
    .user-info-wrapper__logo
      -# = link_to root_path, class: 'user-info-wrapper__logo--link' do
      -#   = image_tag asset_path("logo.png"), size: "185x49"
      -#   =render "devise/shared/error_messages", resource: resource
    .user-info-wrapper__main
      .user-info-wrapper__main__head
        新規ユーザー登録
    .user-info-wrapper__main
      .user-info-wrapper__main__title
        ニックネーム

      = f.text_field :nickname, {class: "user-info-wrapper__main__text", placeholder: "例)ピンポン太郎"}

      .user-info-wrapper__main__title
        メールアドレス

      = f.text_field :email, {class: "user-info-wrapper__main__text", placeholder: "PC・携帯どちらでも可"}

      .user-info-wrapper__main__title
        パスワード
 
      = f.password_field :password, {class: "user-info-wrapper__main__text", placeholder: "7文字以上の半角英数字"}
      
      .user-info-wrapper__main__title
        パスワード(確認)
  
      = f.password_field :password_confirmation, {class: "user-info-wrapper__main__text", placeholder: "7文字以上の半角英数字"}
      
      -# .user-info-wrapper__main__title
      -#   お名前(全角)
      -#   %span{class: "must"} 必須
      -#   .flexbox
      -#     = f.text_field :firstname, {class: "user-info-wrapper__main__text text-half", placeholder: "例)山田"}
      -#     = f.text_field :lastname , {class: "user-info-wrapper__main__text text-half", placeholder: "例)太郎"}
      
      -# .user-info-wrapper__main__title
      -#   お名前カナ(全角)
      -#   %span{class: "must"} 必須
      -#   .flexbox
      -#     = f.text_field :firstname_kana, {class: "user-info-wrapper__main__text text-half", placeholder: "例)ヤマダ"}
      -#     = f.text_field :lastname_kana , {class: "user-info-wrapper__main__text text-half", placeholder: "例)タロウ"}
      
      -# .user-info-wrapper__main__title
      -#   生年月日
      -#   %span{class: "must"} 必須
      -#   .flexbox
      -#     - year = ["--"]
      -#     - for num in 0..120
      -#       - year << 2020-num
      -#     = f.select :birth_year, year, {}, class: "user-info-wrapper__main__select three-select"
      -#     年
      -#     - month = ["--"]
      -#     - for num in 1..12
      -#       - month << num
      -#     = f.select :birth_month, month, {}, class: "user-info-wrapper__main__select three-select"
      -#     月
      -#     - day = ["--"]
      -#     - for num in 1..31
      -#       - day << num
      -#     = f.select :birth_day, day, {}, class: "user-info-wrapper__main__select three-select"
      -#     日

      -# .user-info-wrapper__main__title
      -#   電話番号
      -#   %span{class: "must"} 必須
      -# =f.text_field :phone_number, {class: "user-info-wrapper__main__text", placeholder: "ハイフンなし10~11桁"}
      
      -# .user-info-wrapper__main__caution
      -#   ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      =f.submit "登録", class: "user-info-wrapper__main__btn"
