.header
  .header__logo
    = link_to root_path do
      =image_tag ("Table Tennis Spot-logo.png"), size: "300x80"
    =form_with url: root_path, local: true, class: "header__search-box", method: :get do |f|
      .header__search-box
        = f.text_field :keyword, class: 'header__search-box--text--form', placeholder: 'スポットを探す'
        = f.button type: :submit, class: "header__search-box--submit-btn" do
          = image_tag asset_path("icon-search.svg"), size: "20x20", alt: "ICON"  
    
  .header__nav
    %ul.header__nav__menu
      -if user_signed_in?
        %li.header__nav__menu__item
          = link_to new_post_path do
            投稿する 
        %li.header__nav__menu__item
          = link_to user_path(current_user) do
            マイページ    
        %li.header__nav__menu__item
          = link_to destroy_user_session_path, method: :delete do
            ログアウト

      -else
        %li.header__nav__menu__item
          = link_to "#about" do
            About
        %li.header__nav__menu__item
          = link_to "#works" do
            新着スポット
        %li.header__nav__menu__item
          = link_to new_user_session_path do
            ログイン
        %li.header__nav__menu__item
          = link_to new_user_registration_path do
            新規登録