.header
  .header__logo
    -# =image_tag ("logo.png"), size: "300x35"
    
  .header__nav
    %ul.header__nav__menu
      -if user_signed_in?
        %li.header__nav__menu__item
          = link_to "#about" do
            About
        %li.header__nav__menu__item
          = link_to "#works" do
            新着スポット
        %li.header__nav__menu__item
          = link_to destroy_user_session_path, method: :delete do
            ログアウト
        %li.header__nav__menu__item
          = link_to "#" do
            マイページ
      -else
        %li.header__nav__menu__item
          = link_to "#about" do
            About
        %li.header__nav__menu__item
          = link_to "#works" do
            新着スポット
        %li.header__nav__menu__item
          = link_to new_user_session_path do
            ログイン
        %li.header__nav__menu__item
          = link_to new_user_registration_path do
            新規登録

      
.main__visual
  .main__visual__content
    %h2.main__visual__content__title
      Table Tennis Spot
    -# %p.main__visual__content__text
    -#   Web Engineer
  .main__visual__introduction
    卓球できる場所と仲間を探しましょう

.content
  %ul.content__list
    %li#about.content__list__item
      About
      .content__list__item--text
        Table Tennis Spotは気軽に卓球が楽しめるスポットをシェアするプラットフォームです。
    %li#works.content__list__item
      新着スポット
      .content__list__item--card-wrapper
        .card
          .card-caption
            .card-caption-title
              ポートフォリオ
            .card-caption-info
              自分自身のポートフォリオです
            .card-caption-info
              Rails/HTML/CSS
            .card-caption-url
              
        .card
          .card-caption
            .card-caption-title
              ポートフォリオ
            .card-caption-info
              自分自身のポートフォリオです
            .card-caption-info
              Rails/HTML/CSS
            .card-caption-url
        .card
          .card-caption
            .card-caption-title
              ポートフォリオ
            .card-caption-info
              自分自身のポートフォリオです
            .card-caption-info
              Rails/HTML/CSS
            .card-caption-url
        




.footer
  .footer__copyright